<pre class="shiki shiki-themes github-light github-dark" style="--shiki-light:#24292e;--shiki-dark:#e1e4e8;--shiki-light-bg:#fff;--shiki-dark-bg:#24292e" tabindex="0"><code><span class="line"><span style="--shiki-light:#D73A49;--shiki-dark:#F97583">CONFIG_ETH_USE_OPENETH</span><span style="--shiki-light:#24292E;--shiki-dark:#E1E4E8">=y</span></span>
<span class="line"><span style="--shiki-light:#D73A49;--shiki-dark:#F97583">CONFIG_LWIP_STATS</span><span style="--shiki-light:#24292E;--shiki-dark:#E1E4E8">=y</span></span>
<span class="line"><span style="--shiki-light:#D73A49;--shiki-dark:#F97583">CONFIG_FREERTOS_USE_TRACE_FACILITY</span><span style="--shiki-light:#24292E;--shiki-dark:#E1E4E8">=y</span></span>
<span class="line"><span style="--shiki-light:#D73A49;--shiki-dark:#F97583">CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS</span><span style="--shiki-light:#24292E;--shiki-dark:#E1E4E8">=y</span></span>
<span class="line"><span style="--shiki-light:#D73A49;--shiki-dark:#F97583">CONFIG_FREERTOS_VTASKLIST_INCLUDE_COREID</span><span style="--shiki-light:#24292E;--shiki-dark:#E1E4E8">=y</span></span>
<span class="line"><span style="--shiki-light:#D73A49;--shiki-dark:#F97583">CONFIG_LOG_DEFAULT_LEVEL_ERROR</span><span style="--shiki-light:#24292E;--shiki-dark:#E1E4E8">=y</span></span>
<span class="line"><span style="--shiki-light:#D73A49;--shiki-dark:#F97583">CONFIG_LWIP_MAX_ACTIVE_TCP</span><span style="--shiki-light:#24292E;--shiki-dark:#E1E4E8">=64</span></span>
<span class="line"><span style="--shiki-light:#D73A49;--shiki-dark:#F97583">CONFIG_LWIP_TCP_SND_BUF_DEFAULT</span><span style="--shiki-light:#24292E;--shiki-dark:#E1E4E8">=5760</span></span>
<span class="line"><span style="--shiki-light:#D73A49;--shiki-dark:#F97583">CONFIG_LWIP_TCP_WND_DEFAULT</span><span style="--shiki-light:#24292E;--shiki-dark:#E1E4E8">=5760</span></span>
<span class="line"><span style="--shiki-light:#D73A49;--shiki-dark:#F97583">CONFIG_LWIP_TCP_MSS</span><span style="--shiki-light:#24292E;--shiki-dark:#E1E4E8">=1440</span></span>
<span class="line"><span style="--shiki-light:#D73A49;--shiki-dark:#F97583">CONFIG_LWIP_TCPIP_RECVMBOX_SIZE</span><span style="--shiki-light:#24292E;--shiki-dark:#E1E4E8">=32</span></span>
<span class="line"><span style="--shiki-light:#D73A49;--shiki-dark:#F97583">CONFIG_LWIP_TCP_RECVMBOX_SIZE</span><span style="--shiki-light:#24292E;--shiki-dark:#E1E4E8">=32</span></span>
<span class="line"></span></code></pre>